.genre {
    display: inline-block;
    height: 1.2rem;
    line-height: 1.2rem;
    font-size: 1rem;
    color: #fff;
    border: .1rem solid #fff;
    padding: .2rem .5rem;
    box-sizing: content-box;
    margin-right: 10px;
    white-space: nowrap;
    margin-bottom: 5px;
}
